{{#hasuserprogress}}
    <p class="mb-0">{{#str}}myprogress, block_myprogress{{/str}}: {{userprogress}}%</p>
    <div class="progress mb-4">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{userprogress}}%" aria-valuenow="{{userprogress}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
{{/hasuserprogress}}

{{#hasgroupsaverage}}
    <div class="mb-4">
        <p class="mb-0">{{#str}}groupaverage, block_myprogress{{/str}}</p>
        {{#groupsaverage}}
            <small>{{name}}: {{average}}%</small>
            <div class="progress mb-0">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{average}}%" aria-valuenow="{{average}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {{/groupsaverage}}
    </div>
{{/hasgroupsaverage}}

{{#hascohortsaverage}}
    <div class="mb-4">
        <p class="mb-0">{{#str}}cohortaverage, block_myprogress{{/str}}</p>
        {{#cohortsaverage}}
            <small>{{name}}: {{average}}%</small>
            <div class="progress mb-0">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{average}}%" aria-valuenow="{{average}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {{/cohortsaverage}}
    </div>
{{/hascohortsaverage}}

{{#hasclassaverage}}
    <p class="mb-0">{{#str}}classaverage, block_myprogress{{/str}}: {{classaverage}}%</p>
    <div class="progress mb-4">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{classaverage}}%" aria-valuenow="{{classaverage}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
{{/hasclassaverage}}